body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  background-color: blue;
}

.nav button {
  border: none;
  background-color: white;
  padding: 10px;
  margin: 5px;
}